<input type="url" name="url" />
<button id="send-btn">Shorten</button>

<table>
	<tr>
		<th>Short Url</th>
		<th>Visits</th>
	</tr>
{{#list}}
	<tr>
		<td><a href={{shortUrl}}>{{shortUrl}}</a></td>
		<td>{{visits}}</td>
	</tr>
{{/list}}
</table>


<script>

	const input = document.querySelector('input');
	const button = document.querySelector('button');

	button.addEventListener('click', async () => {
		const url = input.value;
		const response = await fetch('/', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({ url })
		});
		const data = await response.json();
		window.location.reload();
	});
	

</script>